extends ./master.jade

block headMaster
  link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/vendor/ionicons/css/ionicons.min.css')
  link(rel='stylesheet', href='/vendor/animate.css/animate.min.css')
  block head

block bodyMaster
  .wrapper
    include ../partials/header
    include ../partials/sidebar
    block beforeWrapper
    .content-wrapper
      section.content-header
        h1
          - var currentPage = Vars.breadcrumb.pop();
          = currentPage.title || currentPage.label
          if currentPage.note
            small= currentPage.note
        ol.breadcrumb.hidden-xs
          each crumb in Vars.breadcrumb
            li
              a(href= crumb.href || 'javascript:;')
                if crumb.icon
                  i(class= crumb.icon)
                = crumb.label
          li.active
            i.margin-r-5(class= currentPage.icon)
            != currentPage.label

      section.content
        block body

    footer.main-footer
      strong
        include ../partials/copyright

    aside.control-sidebar.control-sidebar-light
    .control-sidebar-bg

block jsMaster
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.min.js')
  script(src='/vendor/lodash/lodash.min.js')
  script(src='/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
  script(src='/vendor/moment/moment-with-locales.min.js')
  script(src='/vendor/fastclick/fastclick.min.js')
  script(src='/vendor/AdminLTE/js/app.min.js')
  script(src='/js/dist/adminLTE.min.js')
  block js
      