extends ./master.jade

block headMaster
  link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/vendor/ionicons/css/ionicons.min.css')
  link(rel='stylesheet', href='/vendor/animate.css/animate.min.css')
  block head

block bodyMaster
  block body

block jsMaster
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.min.js')
  block js