mixin boxHeader(icon, title, incollapasable, removable)
  .box-header.with-border
    h4.box-title
      if icon
        i(class= icon)
        | &nbsp;
      = title
    .box-tools.pull-right
      if !incollapasable
        button.btn.btn-box-tool(type='button', data-widget='collapse', data-toggle='tooltip', title='Collapse/Expand')
          i.fa.fa-minus
      if !!removable
        button.btn.btn-box-tool(type='button', data-widget='remove', data-toggle='tooltip', title='Remove')
          i.fa.fa-times