extends ../../layouts/default

block variables
  - bodyClassName = 'carbon';

block body
  .wrapper.wrapper-static
    p.pnf-404
      i.fa.fa-warning.text-yellow
      span.head.text-yellow 404
      span.info
        if error
          != error
        else
          | Oops! Page Not Found.
      