<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8"/>
  <title>{{ title }} - Unitech/PM2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0"/>
  <meta name="viewport" content="target-densitydpi=device-dpi"/>

  <link rel="stylesheet" href="/css/jquery.sticky.min.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/animation.min.css"/>
  <link rel="stylesheet" href="/css/auth.css"/>

  <link rel="shortcut icon" href="/img/favicon.ico"/>
</head>
<body class="carbon">

<div class="auth-form">
  <div title="PM2 GUI">
    <z class="G"></z>
    <z class="U"></z>
    <z class="I"></z>
  </div>

  <input placeholder="Password" type="password" maxlength="20" />
  <a href="#"></a>
  <span></span>
</div>

<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.sticky.min.js"></script>
<script type="text/javascript" src="/js/auth.html.js"></script>

</body>
</html>